In [1]:
import pandas as pd

In [2]:
db=pd.read_csv("Traffic.csv")

In [3]:
db.head()

,Time,Node,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
0,12:00:00 AM,10,31,0,4,4,39,low
1,12:15:00 AM,10,49,0,3,3,55,low
2,12:30:00 AM,10,46,0,3,6,55,low
3,12:45:00 AM,10,51,0,2,5,58,low
4,1:00:00 AM,10,57,6,15,16,94,normal